:root {
    --color-green-100: #2ECC71;
    --color-green-200: #27AE60;
    --color-green-300: #1E854A;
    --color-violet: #9B59B6;
    --color-red: #E74C3C;
    --color-brown-100: #AF5928;
    --color-brown-200: #85431E;
    --color-skyblue: #D8EBF8;
    --color-yellow: #FFDF5F;
    --color-white: #FFFFFF;
  }